.svg2css__css-preview {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5; /*above code mirror*/
}

.svg2css__css-preview_opacity-container {
    background-color: var(--space-palette-color-1);
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.svg2css__css-preview_code-container {
    position: fixed;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
    height: 500px;
    width: 500px;
    background-color: var(--space-palette-color-4);
}

.svg2css__css-preview_close-button-container {
    position: absolute;
    top: 60px;
    left: calc(50% + 270px);;
}

.svg2css__css-preview_close-button {
    background: transparent;
    outline: none;
    border: none;
    padding: 5px;
    height: 50px;
    width: 50px;
    font-size: 35px;
    color: var(--space-palette-color-3);
    cursor: pointer;

    &:hover, &:focus {
        color: var(--space-palette-color-4)
    }
}