/* Color Palette - https://lospec.com/palette-list/dreamful-space */
:root {
    --space-palette-color-1: #21193c;
    --space-palette-color-2: #932f7b;
    --space-palette-color-3: #e67b8b;
    --space-palette-color-4: #f5d2b8;
}